/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
:root {
	--cnvs-themecolor: #405ad5 !important;
	--cnvs-themecolor-rgb: 64, 90, 213 !important;
}

body {
	font-family: 'Work Sans', sans-serif !important;
	background-color: #fff !important;
}

/* Header CSS */
#logo img {
	max-width: inherit;
	max-height: 40px;
	width: auto;
}

.header-wrap-clone {
	height: 58px;
}

.heading-block {
	/* --cnvs-heading-block-border: 3px solid #405ad5 !important; */
}

.heading-block::after {
	width: 50px !important;
}

.sub-menu.menu-link {
	padding: 30px 15px !important;
}

/* Search Styles */
.top-search-form input {
	font-size: 16px;
}

#top-search-trigger i {
	color: #676767 !important;
}

.slide {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	text-align: center;
	padding: 10px;
}

.fbox-image img {
	max-width: 90%;
	max-height: 120px;
	width: auto !important;
	height: auto;
	object-fit: contain;
	margin: 5px auto;
}

/* Footer CSS */
#footer {
	background-color: #405ad5 !important;
}

.menu-section h5 {
	font-size: 14px;
	position: relative;
	margin-bottom: 5px;
	color: #fff;
}

.menu-section h5::after {
	content: "";
	display: block;
	width: 40px;
	height: 2px;
	background-color: #ffffff66;
	margin-top: 3px;
}

.menu-section ul {
	list-style: none;
	padding: 0;
}

.menu-section ul li a {
	text-decoration: none;
	color: #ccc;
	font-size: 12px;
	transition: color 0.3s ease-in-out;
}

.menu-section ul li a:hover {
	color: #fff;
}

.menu-section.logos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.footer-contact {
	padding: 0px 20px;
}

.contact-list {
	list-style: none;
	padding: 0;
}

.contact-list li {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 12px;
	font-size: 12px;
	color: #ffffffbf;
}

.contact-list i {
	font-size: 18px;
	color: #fff;
	width: 24px;
	text-align: center;
}

#copyrights {
	font-size: 12px;
	padding: 30px 0px;
}

.social-icon.si-small {
	--cnvs-socialicon-size: 1.5rem !important;
	;
	--cnvs-socialicon-fontsize: 0.675rem !important;
}

/* ----------------------------------------------------------------
    Responsive Design Styles
-----------------------------------------------------------------*/

/* Large Screens (992px and up) */
@media (min-width: 992px) {
	.menu-type-primary {
		font-size: 1.125rem;
	}

	.header-misc>.header-misc-icon:nth-child(1) {
		border-left: 1px solid #dee2e6;
	}
}

/* Tablet & Mobile Screens (Below 992px) */
@media (max-width: 992px) {
	#logo {
		padding: 15px 0px;
	}
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
	#logo img {
		max-width: inherit;
		max-height: 30px;
		width: auto;
	}

	#logo {
		padding: 15px 0px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 991px) {}

/* Ipad Pro */
@media (width: 1024px) {}

.dotted-bg:before {
	content: "";
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	width: 150%;
	height: 150%;
	background-size: 12px 12px;
	background-position: center;
	transform: translate(-50%, -50%);
	background-image: radial-gradient(rgba(233, 196, 106, 0.3) 14%, transparent 14%);
	-webkit-mask-image: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 75%);
	mask-image: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 75%);
	z-index: 0;
}

.services-grid .feature-box {
	padding: 1.5rem 1rem !important; 
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: .5rem;
	/* border: 1px solid var(--cnvs-secondary-color); */
}

.services-grid .feature-box:hover {
	background-size: cover;
}

.hover-button {
	display: block;
	margin-top: 20px;
	font-weight: 600;
}

.dark .hover-button {
	color: #FFF;
}

.services-grid .feature-box {
	background-color: #fff !important;
}

.dark .services-grid .feature-box .fbox-icon i {
	background-color: rgba(255, 255, 255, 0.15);
}

.services-grid .feature-box,
.services-grid .feature-box .fbox-icon,
.services-grid .feature-box .fbox-content,
.hover-button {
	transition: all .4s ease, border-color .0s ease;
}

.services-grid .feature-box {
	padding: 3rem;
	background-size: 0;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.services-grid .feature-box:hover {
	transform: translateY(-6px);
	border-color: #fff;
}

.services-grid .feature-box:not(:hover) .hover-button {
	opacity: 0;
	transform: translateY(-5px);
}

.services-grid .feature-box .fbox-icon,
.services-grid .feature-box .fbox-content {
	font-size: 14px !important;
	transform: translateY(20px);
}

.services-grid .feature-box:hover .fbox-icon,
.services-grid .feature-box:hover .fbox-content {
	transform: translateY(0px);
}

.pricing-table .card {
	border-radius: 20px;
	padding: 25px 40px;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: -1px -1px;
	background-size: 102% 160px;
	/* border-color: rgba(255, 255, 255, 0.3); */
}

.pricing-table .card h2 { font-size: 48px; }

.pricing-table .card p {
	font-size: 15px;
	font-weight: 500;
	line-height: 1.6 !important;
}

.pricing-table .card .iconlist {
	font-size: 15px;
	font-weight: 500;
	color: #888;
	font-family: 'Roboto';
}

.pricing-table .card .iconlist li:not(:last-child) { margin-bottom: 7px; }

.toggle-wrap {
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 10px;
}

.toggle {
	padding: 18px 30px;
	margin-bottom: 0;
	background-color: rgba(255,255,255,0.1);
	border-bottom: 1px solid rgba(255,255,255,0.15);
	transition: background-color .2s ease;
}

.toggle:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.toggle:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.toggle:last-child { border-bottom: 0; }

.toggle .togglet {
	font-size: 19px;
	padding-left: 0;
	font-weight: 600;
	color: #F5F5F5;
}

.toggle:hover { background-color: rgba(255,255,255,0.15); }

/* Slider Section */
.slider-element {
	height: 700px;
	overflow: visible;
	background-color: var(--cnvs-themecolor);
}

.slider-title h2 {
	font-size: 2.7rem;
	letter-spacing: -1px;
	line-height: 1.25 !important;
	font-weight: 600;
}

.slider-title p {
	opacity: .9;
	font-size: 1.1rem;
	line-height: 1.8 !important;
	font-weight: 300;
}

.slider-bottom-box {
	display: block;
	padding: 40px;
	background: #FFF;
	box-shadow: 0px 10px 40px 0px rgba(47,47,47,0.1);
	border-radius: 3px;
}

.slider-bottom-box li {
	font-size: 16px;
	font-weight: 500;
}

/* Clouds */
.cloud-wrap {
	bottom: 0;
	left: 0;
	padding-top: 50px;
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	opacity: .09; /* Set Cloud Opacity */
}

/* KEYFRAMES */
@-webkit-keyframes animateCloud {
	0% { margin-left: -1000px; }
	100% { margin-left: 100%; }
}

@-moz-keyframes animateCloud {
	0% { margin-left: -1000px; }
	100% { margin-left: 100%; }
}

@keyframes animateCloud {
	0% { margin-left: -1000px; }
	100% { margin-left: 100%; }
}

/* ANIMATIONS */
.c1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.c2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.c3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.c4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.c5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

.cloud {
	background: #FFF;
	background: -moz-linear-gradient(top,  #FFF 5%, #F1F1F1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#FFF), color-stop(100%,#F1F1F1));
	background: -webkit-linear-gradient(top,  #FFF 5%,#F1F1F1 100%);
	background: -o-linear-gradient(top,  #FFF 5%,#F1F1F1 100%);
	background: -ms-linear-gradient(top,  #FFF 5%,#F1F1F1 100%);
	background: linear-gradient(top,  #FFF 5%,#F1F1F1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#F1F1F1',GradientType=0 );
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	height: 120px;
	position: relative;
	width: 350px;
}

.cloud::after, .cloud::before {
	background: #FFF;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud::after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud::before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

.flip-card-back .button:hover {
	color: #405ad5 !important;
	background-color: #fff !important;
}

/* Testimonial
-----------------------------------------------------------------*/
.testimonials-rating {
	margin-top: 15px;
	color: #FFD700;
	font-size: 18px;
	line-height: 1;
}

.testi-content p {
	font-size: 16px;
	color: #666;
	font-style: normal;
}

.testi-content p::before,
.testi-content p::after { display: none; }

.testi-meta::before { display: none; }
.testi-meta span { padding-left: 0; }

.testimonial .flex-control-nav {
	bottom: 8px;
	right: 0px;
}
.testimonial .flex-control-nav li a { background-color: #333; }

/* Header
-----------------------------------------------------------------*/
.svg-separator {
	position: absolute;
	width: 100%;
	height: 25px;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 1;
}

.svg-separator.top {
	top: -1px;
	bottom: auto;
}

.feature-box.fbox-plain:not(.fbox-small) .fbox-icon img { width: 50px; }

.negetive-margin { margin-top: -180px; }

#client-carousel .owl-item {
	opacity: 0;
	transform: translateY(20px);
	transition: all .4s .1s ease-out;
}

#client-carousel .owl-item.active {
	opacity: 1;
	transform: translateY(0);
}

#client-carousel .card {
    height: 280px; 
}

#client-carousel .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#client-carousel .card p {
    font-size: 14px;
}

#client-carousel .card small {
    font-size: 12px;
}

.testimonials-carousel:before {
	content: "\F6B0";
	font-family: 'bootstrap-icons';
	position: absolute;
	top: -8px;
	left: 50px;
	font-size: 100px;
	color: rgba(51,94,238, 0.02);
	color: rgba(var(--cnvs-themecolor-rgb), 0.08);
}

/* Responsive Device more than 992px (.device-md >)
-----------------------------------------------------------------*/
@media (min-width: 992px) {
	.header-misc .button {
		padding: 29px 34px;
	}

	.slider-title h1 {
		font-size: 40px;
		line-height: 1.3;
		font-weight: 700;
	}

	.feature-box .fbox-img img {
		z-index: 3;
		position: relative;
		background-color: #FFF;
	}

	[class^=col-]:not(:last-child) .feature-box .fbox-img:before {
		content: '';
    	position: absolute;
		top: 50%;
		left: 100%;
		width: 150%;
    	border-top: 1px dashed var(--cnvs-themecolor);
		transform: translateY(-50%);
		z-index: 0;
	}

	#oc-testi.owl-carousel .owl-dots {
		position: absolute;
	    bottom: 45px;
	    right: 40px;
	}

	#oc-testi.owl-carousel .owl-dots .owl-dot { margin-top: 0; }
}